<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true" />
        <setting name="lazyLoadingEnabled" value="false" />
        
        <!-- <setting name="multipleResultSetsEnabled" value="true" />
		<setting name="useColumnLabel" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="defaultStatementTimeout" value="25000" /> -->
    </settings>
    
    <!-- 使用别名 -->
    <!-- 为包下的所有文件设置别名，别名为类名，不分大小写 -->
    <!-- <typeAliases>
        <package name="com.develop.**.model"/>
    </typeAliases> -->
</configuration>